/* Default Page CSS */
h1 {
    text-align: center;
    color: #000202;
  }
  body{
      background-color: #E8ECED;
      text-align: center;
      
  }
  main{
      margin-right:20px;
      margin-left: 20px;

  }
  
  footer{
    height: 60px;
    background-color: #4D2121;
  }


  /* Home Page */
  /* Getting Bootstrap Cards Aligned */


.box{
    width:400px;
    
}


#img-home{
    background-color: #D19E75
    ;
}
/*  Form Page */
form{
    width: 50%;
    margin: auto;
}


button{
    margin: auto;
}


/* index page */

.show-box{
    margin-bottom: 100px;
}

/* show page comments */
.comment-box{
    background-color: #D19E75;
    padding: 20px;
}

.name{
    font-size: 23px;
}

.review{
    font-size: 20px;
}

